<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quascenta.petersroad.broadway">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    \
    <!-- Required for Google Login -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- In application tag (Need to register the Login activity in your app) -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name="com.quascenta.logTag.main.LogTagApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name="com.quascenta.petersroad.services.SensorService" />
        <service android:name="com.quascenta.BluetoothLoggingDevice.BluetoothLeService" />

        <activity
            android:name="com.quascenta.petersroad.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.quascenta.petersroad.activities.LoginActivity"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.quascenta.petersroad.activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.quascenta.petersroad.activities.ForgotPasswordActivity" />
        <activity
            android:name="com.quascenta.petersroad.activities.MainActivity1"
            android:label="Say Cheese"
            android:theme="@style/Base.Theme.DesignDemo" />
        <activity
            android:name="com.quascenta.petersroad.activities.SearchableActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:parentActivityName="com.quascenta.petersroad.activities.MainActivity1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable" />
        </activity>
        <activity
            android:name="com.quascenta.petersroad.activities.DetailSensorsActivity"
            android:label="DLink"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.DesignDemo" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quascenta.petersroad.activities.GoogleSigninActivity"
            android:label="GoogleSignInActivity" />
        <activity android:name="com.quascenta.logTag.main.activities.LogTagLoginActivity" />
        <activity
            android:name="com.quascenta.logTag.main.activities.LogTagMainActivity"
            android:label="LogTagActivity" />
        <activity android:name="com.quascenta.BluetoothLoggingDevice.activity.MainActivity">

        </activity>
        <activity android:name="com.quascenta.BluetoothLoggingDevice.activity.BaseActivity" />
        <activity
            android:name="com.quascenta.BluetoothLoggingDevice.activity.DeviceControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quascenta.logTag.main.activities.LogTagDashboardActivity"
            android:label="Dashboard" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:ignore="DuplicateActivity" />

        <activity android:name="com.quascenta.QBlueLogger.Test2Activity" android:label="Devices" android:screenOrientation="portrait"><intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter></activity>
        <activity android:name="com.quascenta.QBlueLogger.BluetoothDiscovery" android:label="@string/app_name"
            android:screenOrientation="portrait" android:theme="@style/AppTheme" />
    </application>

</manifest>